<div class="draggable-item-handle">{{model}}</div>
view.elementId:{{view.elementId}} (X)
{{apple-pie name=model.name}}
parentView: {{view.parentView.elementId}}
{{#pumpkin-pie}}
  {{model.id}} : {{model.name}} – parentView: {{view.parentView.elementId}}
{{/pumpkin-pie}}
