<div class="draggable-item-handle">{{this.model}}</div>
view.elementId:{{view.elementId}} (X)
{{apple-pie name=name}}
parentView: {{view.parentView.elementId}}
{{#pumpkin-pie}}
  {{id}} : {{name}} – parentView: {{view.parentView.elementId}}
{{/pumpkin-pie}}
